{% extends "base.html" %}

{% block content %}
<hr class="sidebar-divider my-0">
 <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <span>Friends</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->

      <!-- Nav Item - Pages Collapse Menu -->
    {% if friend %}
		{% for r in friend %}
		<li class="nav-item">
        	<a class="nav-link " href="{% url 'messages' username=r.username %}" >
				<span> {{r}} </span>
	    	</a> 
	    </li>
		{% endfor %}
	{% endif %}
      

    
      <!-- Divider -->
   

      <!-- Heading -->
      

    
<hr class="sidebar-divider my-0">
 <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <span>Friend Requests</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Received
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
    {% if fr %}
		{% for r in fr %}
		<li class="nav-item">

			<a class="nav-link " href="{% url 'accept' r.id %}" >
				
				<span> accept {{r.from_user}} </span> 
			</a> 
      <a class="nav-link " href="{% url 'delete' r.id %}" >
        
        <span> delete {{r.from_user}} </span> 
      </a> 

		</li>

		{% endfor %}
	{% endif %}
              
      

      <!-- Nav Item - Utilities Collapse Menu -->

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Sent
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      {% if frr %}
		{% for r in frr %}
		<li class="nav-item">

			<a class="nav-link " href="{% url 'accept' r.id %}" >
				
				<span> cancel {{r.to_user}} </span> 
			</a> 

		</li>

		{% endfor %}
	{% endif %}
              

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          

          <!-- Topbar Search -->
        
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" action="/search/" >
            {% csrf_token %}

            <div class="input-group">
              <input type="text" name="srh" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              
                  <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
             
            </li>


<div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
        {% if user.is_authenticated %}
        <a class="nav-link dropdown-toggle" href="{% url 'logout' %}" >
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">logout</span>
        </a>
        {% else %}
        <a class="nav-link dropdown-toggle" href="{% url 'login' %}" >
        	<span class="mr-2 d-none d-lg-inline text-gray-600 small">login</span>
        </a>
              
     	 {% endif %}
     	 

              <!-- Dropdown - User Information -->
              
    </li>

  </ul>

</nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
<div class="container-fluid">

          <!-- Page Heading -->   
<div class="d-sm-flex align-items-center justify-content-between mb-4">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    <h1 class="h3 mb-0 text-gray-800">let's start chatting
</div>

<br><br>
 <div>
 	{% if messages %}
 		<ul class="messages">
 			{% for k in messages %}
 			<li style="color: red">{{ k }}</li>
 			{% endfor %}
 			
 		</ul>
 	{% endif %}		
 	
 </div>
{% if sr %}
 <div class="container">
 	<div class="row">
 		<div class="col-md-8">
 			<div class="people-nearby">
 				{% for k in sr %} 
 					<div class="nearby-user">
 						<div class="row">
 							<div class="col-md-7 col-sm-7">
 								<h5 class="profile-link">{{ k }}</h5>
 							</div>
 							<div class="col-md-3 col-sm-3">
 								<a href="{% url 'send' k.id %} "class="btn btn-primary pull-right">Add Friend</a>
 							</div>
 						</div>
 					</div>
 					<br><br>
 				{% endfor %}
			</div>
		</div>
	</div>
</div> 						
{% endif %}



{% endblock %}